* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: rgb(225, 151, 62);
  color: brown;
}

.header-wrapper,
footer {
  color: rgb(51, 44, 12);
  display: flex;
  font-size: 24px;
  
  justify-content: center;
  align-items: center;
  gap:50px;
  min-height: 75px;
  border-bottom: 2px solid rgb(157, 134, 39);
  border-top: 2px solid rgb(157, 134, 39);
  
}

.header-wrapper span {
  cursor: pointer;
  
}

.header-wrapper a {
  text-decoration: none;
  font-size: 24px;
}
main {
  height: calc(100vh - 150px);
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 60px;
}

.about {
  color: yellow;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-nav-link {
  color: rgb(109, 76, 52) ;
}

.header-nav-link.active.active {
  color: rgb(212, 243, 35) !important;
  text-decoration: underline !important;
}

.active {
  color: rgb(212, 243, 35) !important; 
  text-decoration: underline !important;
}

.cards-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}

.cards {
  max-width: 200px;
  height: 230px;
  font-size: 20px;
  background-color: rgb(106, 85, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border: 2px solid rgb(79, 56, 2);
  border-radius: 10px;
}

.cards:hover {
  background-color: rgb(131, 97, 18);
  text-decoration: underline;
  color: rgb(240, 240, 97);
}

.article-link {
  color: wheat;
  text-decoration: none;
}

.article-post {
  color: rgb(0, 0, 0);
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-img {
  width: 200px;
}

.simbol-arrow {
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 30px ;
  cursor: pointer;
}